<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>32994178983-39iqujk2mj4j0kvv68si0qeddq7t4fa4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32994178983-39iqujk2mj4j0kvv68si0qeddq7t4fa4</string>
	<key>API_KEY</key>
	<string>AIzaSyDjetSOXDDL7nyNH5Ok30SH16LYjF8w0p8</string>
	<key>GCM_SENDER_ID</key>
	<string>32994178983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sgt.eatathome</string>
	<key>PROJECT_ID</key>
	<string>eatathome-a2e73</string>
	<key>STORAGE_BUCKET</key>
	<string>eatathome-a2e73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32994178983:ios:80c7acdd144bac95</string>
	<key>DATABASE_URL</key>
	<string>https://eatathome-a2e73.firebaseio.com</string>
</dict>
</plist>